version: '3.8'
services:
  nginx:
    build: ./nginx
    container_name: dnmonitor-nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    restart: unless-stopped
  backend:
    build: ./backend
    container_name: dnmonitor-backend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    expose:
      - "4000"
    restart: unless-stopped
  frontend:
    build: ./frontend
    container_name: dnmonitor-frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "8081:8081"
      - "8082:8082"
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - REACT_NATIVE_PACKAGER_HOSTNAME=172.24.112.1
    stdin_open: true
    tty: true
    restart: unless-stopped
